body {
  font-family: "Poppins", sans-serif;
}
.page-content {
  margin-top: 100px;
}

footer {
  border-top: 1px solid rgb(226, 193, 193);
  margin-top: 150px;

  p {
    color: #979799;
  }
}

.form-control {
  background-color: #49c1e6;
}
